// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
    font-weight: 400;
}

md-toolbar .mat-icon.md-icon-logo { 
    width: 36px; 
    height: 36px;
}

body {
    background-color: #fafafa !important;
}

// body::before {
//     content: "";
//     background: #1976d2;   
//     width: 100%;
//     height: 64px;  
//     position: absolute;
//     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
// }
